@charset "UTF-8";
@font-face {
    font-family:'InterparkGothic'; /*font 이름*/
    font-style: 'normal';
    src: url('InterparkGothicLight.ttf'); /* IE9 Compat Modes */
}   
@font-face {
    font-family:'InterparkGothicBold'; /*font 이름*/
    font-style: 'normal';
    src: url('InterparkGothicBold.ttf'); /* IE9 Compat Modes */
} 
#all_content{
    font-family:'InterparkGothicBold';
    margin:0;
    width:1920px;
    height:2300px;
}
.section1{
    margin:0;
    width:1920px;
    height:200px;
}
.main_nav{
    width:1120px;
    height:200px;
    margin: 0px 400px 0px 400px;
    display:block;
}
.sign{
    margin-top:40px;
    list-style-type:none;
    float:right;
}
.sign li{
    float:left;
    padding-left:5px;
}
.sign a{
    text-decoration:none;
    font-size:15px;
    color:Black;
}

.sign a:hover{
    color:#87CEEB;
}
.logo{
    position:absolute;
    margin:72px 0px 0px 0px;
}
.logo_size{
    width:40%;
    height:40%;
}
ul{
    list-style-type:none;
}
.menu{
    position:absolute;
    list-style-type:none;
    margin-left:190px;
    margin-top:160px;
}
.menu li{
    float:left;
    padding-left:8px;
    font-size:15pt;
}
.menu a{
    float:left;
    text-decoration:none;
    font-size:22px;
    color:Black;
}

.menu a.active,.menu a:hover{
    color:#87CEEB;
}
.section2{
    margin:0;
    width:1920px;
    height:2000px;
}
.list{
    margin:0px 400px 0px 400px;
    padding:20px 0px 0px 0px;
    height:1980px;
    
}
.search{    
    margin:20px 0px 0px 0px;
    padding-top:80px;
    height:100px;
    background-color:#F6F8FA;
}
.searchbar{
    margin:-20px 200px 0px 200px;
    width:720px;
    height:50px;
    background:#ffffff;
}

.searchs{
    font-size:30px;
    width:325px;
    padding-top:10px;
    border:0px;
    outline:none;
    float:left;
    font-family:'InterparkGothic';
}

.button{
    width:60px;
    font-size:20px;
    height:50px;
    border-style:none;
    background:#87CEEB;
    outline:none;
    float:right;
    font-family:'InterparkGothicBold';
}
.carlist{
    margin:0px 0px 0px 0px;
    padding:20px 0px 0px 0px;
    height:1760px;
}
.header{
    margin:-40px 0px 0px 0px;
    padding:20px 0px 0px 0px;
    height:100px;
    border-color:black;
    border-bottom:5px;
}
.main{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    height:1554px;
}
.footer{
    margin:0;
    width:1920px;
    height:100px; /* -180px */
    text-align:center;
}
.header_font{
    position:absolute;
    font-size:30px;
}
.img_size{
    width:358px;
    height:250px;
}
.car{
    text-align:center;
    width:1120px;
    padding:0;
}
.car_li{
    float:left;
    margin:0px;
    padding-left:0px;
    padding-right:15px;
}
.pageBtn{
	position:absolute;
	width:1120px;
	height:100px;
	padding-left:370px;
}
.pageBtn ul{
	width:1120px;
	position:absolute;
    list-style-type:none;
    margin-left:0px;
    margin-top:0px;
    padding-left:30px;
    padding-right:30px;
}
.pageBtn_move{
	float:left;
	width:140px;
	height:25px;
    text-decoration:none;
    font-size:22px;
    color:Black;
}
.pageBtn_now{
	text-decoration:none;
	font-size:20px;
	text-align:center;
	width:50px;
	height:25px;
}
.pageBtn li{
	text-decoration:none;
	text-align:center;
    float:left;
    padding:0px;
}
.pageBtn a.active,.pageBtn a:hover{
	text-decoration:none;
    color:#87CEEB;
}